<div class="jumbotron d-flex flex-column align-items-center">
  <div>
    <strong>Time of play:</strong>
    <%= match.time_of_play.strftime("%d %b %Y, %H:%M ") %>
  </div>

  <h2> <%= @home_team.name %> <strong><%= match.home_team_score %></strong> - <strong><%= match.away_team_score %></strong> <%= @away_team.name %> </h2>

</div>
